.contact{
    width: 100%;
    display: flex;
    height: 80vh;
    margin-top: 3rem;
    

}
.c-left{
    flex:1;
    position: relative;
 
}
.c-left .p-heading{
    align-self: start;

}
.c-left .p-heading>:nth-child(1){
    font-size: 3rem;
}
.c-right{
    flex:1;
    position: relative;
}
form{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
  

}
form .form-contact{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 60%;
    justify-content: center;
    align-items: center;
   
}
form .form-contact input{
    width: 100%;
    padding:8px 10px;
    border: none;
    border: solid 2px var(--orange);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    transition: border .3s ease-in;
    -webkit-transition: border .3s ease-in;
    -moz-transition: border .3s ease-in;
    -ms-transition: border .3s ease-in;
    -o-transition: border .3s ease-in;
    font-size: 18px;
}
form .form-contact input:focus{
    border: solid 3px var(--orange);
}
form .form-contact textarea{
    border: none;
    border:2px solid var(--orange);
    padding: 8px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    resize: none;
    height: 4rem;
    outline: none;
    width: 100%;
}

form .form-contact textarea:focus{
    border: solid 3px var(--orange);
}
@media screen and (max-width:480px) {
    .contact{
        flex-direction: column;
        gap: 2rem;
        height: 33rem;
    }
    form .form-contact {
        width: 100%;
      
    }
  
}
